[submodule "themes"]
	path = terminal-apps/themes
	url = https://github.com/warpdotdev/themes.git
[submodule "keysets"]
	path = keysets
	url = https://github.com/warpdotdev/keysets.git
[submodule "workflows"]
	path = workflows
	url = https://github.com/warpdotdev/workflows.git
